$newGreen: #006F63;

#search-dropdown{
	display: none;
}

.search-filters {
    
    right: 80px;
    height: auto;
    top: 12%;
    z-index: 2;
    position: absolute;
    border-left: 1px solid $newGreen;
    border-right: 1px solid $newGreen;


    h3, a {

        color: $newGreen;
        font-weight: 700;
        padding: 1em;
        display: block;
        right: 0px;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;
        padding: 1.5em;
        
        #search-arrow{
	        background-image: url(../images/search-arrow.svg);
		    background-repeat: no-repeat;
		    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/search-arrow.svg', sizingMethod='scale')";
		    -webkit-background-size: 18px;
		    -moz-background-size: 18px;
		    -o-background-size: 18px;
		    background-position: center center;
		    background-size: 18px;
		    transform: rotate(-90deg);
		    transition: .1s;
		    width: 18px;
		    height: 18px;
		    display: inline-block;
		    top: 4px;
		    position: relative;
		        margin-left: .5em;
		        
		         @media  (max-width: 508px) {
			         display: none;
			     }
        }
        
        
    }

    h3:hover {
        //background-color: #117E03;
    }
     @media (min-width: 1301px) and (max-width: 1700px) {
	     top: 5%;
	     
	 }
	 
	 @media (min-width: 969px) and (max-width: 1300px) {
	     top: 2%;
	     
	     h3, a {
	        
            padding: 1.25em;
        }
	     
	 }
    

    @media (min-width: 509px) and (max-width: 968px) {
	    top: 2%;
		right: 60px;


        h3, a {
	        font-size: .75em;
            padding: .875em;
        }
    }
    
    @media  (max-width: 508px) {
	        position: relative;

		    
		    /* color: white; */
		    display: inline-block;

		    float: right;
		    border-left: none;
			border-right: none;
			
			    top: 0px;
		    right: 0;
		    text-align: center;


        h3, a {
	        font-size: 1em;
            padding: 0;
            
        }
    }
    
    a.open{
	     #search-arrow{
		   transform: rotate(0deg) !important;
		   transition: .1s;  
		     
		}
    }
    
    
}


.search-fields {
    padding: 20px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 80px;
    
    overflow-x: auto;
    box-shadow: -3px 1px 10px 4px rgba(0, 0, 0, 0.1);
   

    .search-close {
        // This is a suplicate of .window-close
        float: right;
        direction: block;
        cursor: pointer;
        background: url(../images/CLOSEX.svg) center center no-repeat;
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/magnifying-glass.svg', sizingMethod='scale')";
        background-size: 20px;
        border: 0;
        height: 20px;
        text-indent: -999999px;
        width: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }

    h4 {
        margin-top: 10px;
        color: #4E8496;
    }

    h5 {
        margin: .5em 0;
    }
    
    #searchGroups{
	    display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .search-group {
        margin-bottom: 10px;
        
        
        input[type=checkbox], input[type=radio] {
          display: none;
        }
        
        h5{
	        font-size: 16px;
	        font-weight: 600;
	        color: $newGreen;
	        padding-bottom: .5em;
		    border-bottom: 1px solid $newGreen;
		    margin-right: 1em;
        }
    
        label {
        border-radius: 3px;
        //background-color: #9B9B9B;
        //text-align: center;
        font-size: 14px;
        cursor: pointer;
        color: $newGreen;
        padding: .25em .5em;
        width: 100%;
            &:hover {
                background-color: $newGreen;
                color: white;
            }
        }

        input:checked + label {
            background: $newGreen;
            color: white;
            &:hover {
            background-color:  $newGreen;
            
            }
        }


        div {
            margin-bottom: .5em;

            input {
                margin-right: .5em;
            }
        }

        &.date-range {
            div {
                input {
                    width: 100%;
                    max-width: 80px;
                    margin-right: .25em;
                    margin-left: .25em;
                }
            }
        }
    }

    #search-submit-btn-two {
        background-color: $newGreen;
        color: white;
        padding: .75em 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 4px;
            float: right;
    }
}

.search-fields.closed {
    right: -240px;
    z-index: 0;
    opacity: 0;
    display: none;
}

.search-fields.open {
    right: 0px;
    z-index: 40;
    opacity: 1;
    display: block;
}